h1 {
    background: crimson;
}

body h1{
    background-color: olivedrab;
}

.class-style {
    background: violet;
}

#id-style {
    background: dodgerblue
}

div {
    background: crimson;
    color: grey;
    font-family: Helvitica;
    font-size: 18px;
    cursor: pointer;
}

span {
    background-color: purple;
    color: white;
    text-decoration: line-through;
    font-size: 3rem;
    font-family: Helvetica;
    font-weight: bold;
    /* margin: 20px;
    padding: 40px; */
    padding-top: 20px;
    border: 8px solid teal;
    border-radius: 10px ;
}